# Data Science Tools and Ecosystem

***In this notebook, Data Science Tools and Ecosystem are summarized.***

**Objectives:**
-List popular languages for Data Science
-List popular libraries for Data Science
-Create a table that contains three development environment open source tools used in data science.

**Some of the popular languages that Data Scientists use are:**

1. Python
2. R
3. SQL

__Some of the commonly used libraries used by Data Scientists include:__

1. Python Libraries
2. Apache Libraries
3. R Libraries

|Data science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
M.Cihat